html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.hover:hover{
    color: #fefcfe87;
    cursor: pointer;
}

