.questions .questions__questions-block .questions__questions-block_questions {
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.questions .questions__questions-block .questions__questions-block_questions:nth-child(2n) {
    color: white;
    background-color: #440F51;
}

.questions .questions__questions-block .questions__questions-block_questions:after {
    content: "";
    display: inline-block;
    height: 35px;
    width: 35px;
    background-size: cover;
}

.questions .questions__questions-block .questions__questions-block_questions:nth-child(2n+1)::after {
    background-image: url("/img/open-purple.svg");
}

.questions .questions__questions-block .questions__questions-block_questions:nth-child(2n+2)::after {
    background-image: url("/img/open.svg");
}

.questions .questions__questions-block .questions__questions-block_questions:last-child{
    margin-bottom: 0;
}