.bg__img_vibe {
    background-image: url('../../img/images/Rectangle\ 29.jpg');

}

.bg__img_wild-west {
    background-image: url('../../img/images/Rectangle\ 29-1.jpg');
}

.bg__img_star-wars {
    background-image: url('../../img/images/Rectangle\ 29-2.jpg');
}

.bg__img_neon {
    background-image: url('../../img/images/Rectangle\ 29-3.jpg');
}

.bg {
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 580px;
    min-height: 349px;
}

.halls__item{
    margin-bottom: 20px;
}

.halls__item:nth-last-child(-n+2){
    margin: 0;
} 

.halls__title {
    font-family: "Arial Bold", sans-serif;
    font-size: 70px;
}

.halls-block{
    flex-wrap: wrap;
}

.halls-block.flex{
    justify-content: space-between;
}