.header {
    padding-top: 0;
}

.header__title {
    font-size: 150px;
    letter-spacing: -15px;
    line-height: 1;
    font-family: Arial Black;
}

.header__subtitle {
    font-size: 28px;
    padding-left: 90px;
}

.header {
    position: relative;
    min-height: 911px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header::after {
    content: url("../../img/images/banner.png");
    display: block;
    position: absolute;
    right: 116px;
    top: 100px;
    max-width: 675px;
}