@import url(./__item/contacts__item_location.css);
@import url(./__item/contacts__item_mail.css);
@import url(./__item/contacts__item_networks.css);
@import url(./__item/contacts__item_phone.css);

.contacts section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 330px;
    font-family: "Arial Bold", sans-serif;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
} 
.contacts section p, .contacts section a {
    width: 262px;
}