.about-us{
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-us__citation {
    margin: 0 auto;
}

.citation__title {
    font-size: 44px;
    line-height: 50px;
    color: white;
    white-space: pre-line;
    max-width: 324px;
}

.creator-block {
    justify-content: space-between;
    max-width: 350px;
    margin: 0 50px 0 auto;
}

.creator-block__photo {
    max-width: 80px;
}

.creator-block__text{
    font-size: 20px;
    line-height: 28px;
    max-width: 234px;
}

.quotes{
    color: #6C0287;
    justify-content: start;
    align-items: normal;
    quotes: "“" "”";
    margin-bottom: 50px;
}

.quotes::before{
    margin-right: 4px;
    display: flex;
    align-items: start;
    font-size: 50px;
}

.quotes::after{
    display: flex;
    align-items: end;
    margin-left: 10px;
    font-size: 53px;
} 

.about-us__text {
    font-size: 20px;
    margin-bottom: 36px;
    white-space:pre-line;
    line-height: 25px;
}

.about-us__text-block{
    margin-bottom: 70px;
}

.about-us__text:last-child{
    margin-bottom: 0;
}

.info{
    max-width: 500px;
}
.about-us__flex{
    justify-content: space-between;
}
