.card__figure {
    min-width: 280px;
}

.card__photo img {
    width: 100%;
    margin-bottom: 11px;
}

.card__name {
    font-size: 20px;
} 

.card__description{
    max-width: 680px;
    font-size: 20px;
    line-height: 28px;
}

.card__photo{
    margin-right: 20px;
}

.card {
    margin-bottom: 50px;
}
.card:last-child{
    margin-bottom: 0;
}